@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Tajawal&family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #000000cc;
  font-family: "Ubuntu", sans-serif;
}
.con {
  background-image: linear-gradient(to left, #52556124, #000000a7),
    url("../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg");
  background-size: cover;
  width: 1380px;
  height: 90vh;
  margin: 20px auto;
  border-radius: 10px;
  border-left: 2px solid #e7e8e2;
}
header {
  position: absolute;
  background: linear-gradient(to left, #00000000, #000000);
  border-radius: 10px;
  width: 1300px;
  height: 25px;
  padding: 10px;
  margin: 10px 20px;
}
header i {
  margin: 5px;
  color: #f5f5f7;
}
header h3 {
  display: inline;
  margin: 5px;
  color: #f5f5f7;
}
header ul {
  display: inline;
  margin: 0 30px;
}
header ul li {
  display: inline;
  margin: 0 15px;
}

header ul li a {
  color: #f5f5f7;
  text-decoration: none;
  font-family: "Tajawal";
}
.con .card {
  background-color: #000000;
  width: 536px;
  height: 489px;
  position: relative;
  top: 158px;
  left: 3px;
  opacity: 0.89;
  color: #fff;
}
.con .card p {
  text-align: center;
  color: #fff;
}
.con .card h3 {
  padding: 10px;
}
.con .card .login {
  text-align: left;
  padding: 10px;
}
.con .card .login a {
  color: #7e9737;
  text-decoration: none;
}

.con .card form {
  padding: 15px;
  background-color: #000000cc;
  /* border-left: 2px solid #7e9737;
  border-right: 2px solid #7e9737; */
  box-shadow: 0 0 45px -24px #fff;
  margin: 10px;
  border-radius: 5px;
}
.con .card form .groupinput {
  margin: 10px;
}
.con .card form .groupinput i {
  color: #7e9737;
  margin: 5px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
.con .card form .groupinput label {
  width: 50px;
}
.con .card form .groupinput input {
  border: none;
  background: none;
  font-size: 18px;
  padding: 10px;
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  margin-left: 10px;
}
.con .card form .groupinput .wh {
  width: 293px;
}
.con .card form .groupinput .submit,
.con .card form .groupinput .reset {
  border: none;
  background-color: #7e9737;
  width: 70px;
  margin: 10px;
  color: #fff;
}
.con .card form .groupinput .reset {
  background-color: #fff;
  color: #7e9737;
}
